.cabecalho{
 display: flex;
 height: 100px;
 background-color: #dcf882;
}
.cabecalho h1{
 margin-top: 0px;
}

.footer{
    display: flex;
    height: 100px;
    background-color: #dcf882;
}

.footer h1{
    margin-top: 0px;
   }







